.header {
    position: relative;
    z-index: 9999;

    &__burger {
        position: absolute;
        top: 25px;
        left: 25px;
        background: transparent;
        display: none;

        @media(max-width: $md) {
            display: block;
        }
    }

    &__bar {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        max-width: 1756px;
        padding: 0 43px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-btn {
            position: absolute;
            top: 25px;
            right: 25px;
            padding: 8px;
            border-radius: 100%;
            background: #F2F2F2;
            display: none;

            @media(max-width: $md) {
                display: block;
            }
        }

        @media(max-width:1650px) {
            flex-direction: column;
        }

        @media(max-width: $md) {
            align-items: start;
            background: #181818;
            left: -100%;
            top: 0;
            bottom: 0;
            max-width: 350px;
            padding-top: 55px;
            border-radius: 0 20px 20px 0;
            transition: 1s ease-in-out;

            &.active {
                left: 0;
            }
        }

        @media (max-width: $sm) {
            max-width: 100%;
            border-radius: 0;
            align-items: center;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;

        @media(max-width: $md) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 32px;
        }

        @media(max-width: $sm) {
            align-items: center;
        }

        &-logo {
            background: transparent;
            margin-right: 30px;

            & img {
                max-width: 90px;
                width: 100%;
            }

            @media(max-width:1650px) {
                margin: 0 0 20px;
            }
        }

        &-list {
            display: flex;
            align-items: center;
            column-gap: 30px;
            margin-left: 20px;

            // Удалить с первого элемента
            &:first-child {
                margin-left: 0;
            }

            @media(max-width:1650px) {
                column-gap: 15px;
            }

            @media(max-width: $md) {
                flex-direction: column;
                align-items: flex-start;
                margin-left: 0;
                row-gap: 30px;
            }

            @media(max-width: $sm) {
                align-items: center;
            }
        }

        &-arrow {
            margin-left: 5px;
            transform: rotate(180deg);
            transition: $transitionSpeed;

            &.active {
                transform: rotate(0);
            }
        }

        &-dropmenu {
            @media(max-width: $md) {
                margin-top: 35px;
            }
        }

        // Дроп меню

        &-dropdown {
            color: $secondaryColor;
            background: transparent;
            font-weight: 600;
            font-size: 16px;
            display: none;
            transition: $transitionSpeed;

            &:hover {
                color: $secondaryHover;
            }

            @media(max-width: $lg) {
                font-size: 13px;
            }
        }

        @media (min-width: 769px) and (max-width: 1320px) {

            &-dropdown {
                display: block;
            }

            &-dropmenu {
                position: relative;
                margin-left: 30px;
            }

            &-droplist {
                flex-direction: column;
                align-items: start;
                position: absolute;
                top: 25px;
                left: -15px;
                height: 0px;
                width: 155px;
                row-gap: 15px;
                padding: 0 15px;
                margin-left: 0px;
                border-radius: 8px;
                background: #222222;
                backdrop-filter: blur(8px);
                transition: $transitionSpeed;
                overflow: hidden;

                &.active {
                    padding: 15px;
                    height: 220px;
                }
            }

            &-droplink {
                font-size: 15px;
            }
        }



        &-link {
            color: $secondaryColor;
            font-weight: 600;
            transition: 0.3s;

            &:hover {
                color: $secondaryHover;
            }

            &.active {
                color: $secondaryHover;
            }

            @media(max-width: $lg) {
                font-size: 13px;
            }

            @media(max-width: $md) {
                font-size: 15px;
            }

        }

        &-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-left: 44px;

            @media(max-width: $md) {
                margin-left: 0;
                margin-top: 44px;
            }
        }

        &-social {
            margin-right: 16px;

            & svg path {
                transition: $transitionSpeed;
            }

            & svg:hover path:not([fill="#181818"]) {
                fill: $secondaryHover;
            }
        }
    }

    &__lang {
        position: relative;
        margin-left: 23px;

        &-head {
            display: flex;
            align-items: center;


        }

        & span {
            color: $secondaryColor;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            transition: $transitionSpeed;

            &:hover {
                color: $secondaryHover;
            }

            @media(max-width: $lg) {
                font-size: 13px;
            }
        }

        &-arrow {
            margin-left: 5px;
            transform: rotate(180deg);
            transition: $transitionSpeed;

            &.active {
                transform: rotate(0);
            }
        }

        &-select {
            position: absolute;
            top: 28px;
            transition: $transitionSpeed;
            max-height: 0;
            overflow: hidden;

            &.active {
                max-height: 85px;
            }

            & span:hover {
                color: $secondaryHover;
            }
        }
    }

}