// color roots
$schemaColor: #111111;
$secondaryColor: #C7C7C7;
$secondaryHover: #EBAD2D;
$transitionSpeed: 0.4s;

// media sizes
$xxl: 1400px;
$xl: 1200px;
$lg: 991.98px;
$md: 768px;
$sm: 576px;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: coral;
}

ul,
ol,
li {
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat';
}

body {
    background: $schemaColor;
    font-family: 'Montserrat';
}

// .content {
//     max-width: 1756px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 15px;
// }